extends layout

block content
  p.lead
    | Are you tired of checking multiple stores just to find what you are looking for?
    | Wouldn't it be great to check multiple stores at once? Then you have come to the right place!
  
  .pagination-centered  
    input.input-xxlarge#searchInput(type='text', placeholder='Search', name='search')
    |&nbsp;
    a#searchBtn.btn.btn-xlarge.btn-primary(href='/search?')
      i.icon-search

  ul.nav.nav-pills.stores
          li.store
            a(href='#') Express
          li.store
            a(href='#') Guilt
          li.store
            a(href='#') H&M
          li.store
            a(href='#') GAP
          li.store
            a(href='#') UNIQLO
          li.store
            a(href='#') Zara
          li.store
            a(href='#') A&F
          li.store
            a(href='#') Macys

  .row
    .span6
      .btn.btn-large.btn-block.btn-female.btn-large.category-header Women
      ul#women.nav.nav-list
        li
          a.category(href='/results') Dresses
        li
          a.category(href='/results') Tops
        li
          a.category(href='/results') T-shirts
        li
          a.category(href='/results') Sweaters
        li
          a.category(href='/results') Jackets
        li
          a.category(href='/results') Coats
        li
          a.category(href='/results') Leggings
        li
          a.category(href='/results') Shorts
        li
          a.category(href='/results') Skirts
        li
          a.category(href='/results') Handbags
        li
          a.category(href='/results') Shoes
        li
          a.category(href='/results') Jeans
        li
          a.category(href='/results') Pants
        li
          a.category(href='/results') Lingerie
        li
          a.category(href='/results') Socks
        li
          a.category(href='/results') Swimwear
        li
          a.category(href='/results') Watches
        li
          a.category(href='/results') Belts
        li
          a.category(href='/results') Hats
        li
          a.category(href='/results') Sunglasses

    .span6
      .btn.btn-large.btn-block.btn-male.category-header Men
      ul#men.nav.nav-list
        li
          a.category(href='/results') Shirts & Ties
        li
          a.category(href='/results') T-shirts
        li
          a.category(href='/results') Polos
        li
          a.category(href='/results') Hoodies & Sweatshirts
        li
          a.category(href='/results') Blazers
        li
          a.category(href='/results') Jackets
        li
          a.category(href='/results') Sweaters
        li
          a.category(href='/results') Coats
        li
          a.category(href='/results') Shorts
        li
          a.category(href='/results') Jeans
        li
          a.category(href='/results') Underwear
        li
          a.category(href='/results') Swimwear
        li
          a.category(href='/results') Shoes
        li
          a.category(href='/results') Socks
        li
          a.category(href='/results') Watches
        li
          a.category(href='/results') Belts
        li
          a.category(href='/results') Hats
        li
          a.category(href='/results') Sunglasses
