doctype 5
html(lang='en')
head
  meta(charset='utf-8')
  title Apparelist | Hearst Fashion Hack 2013
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  meta(name='description', content='Heart Fashion Hackathon 2013')
  meta(name='author', content='Sahat Yalkabov')
  //if lt IE 9
    script(src='/javascripts/vendor/html5shiv.js')
    script(src='/javascripts/vendor/respond.min.js')
  link(href='/stylesheets/bootstrap.css', rel='stylesheet')
  link(href='/stylesheets/bootstrap-responsive.css', rel='stylesheet')
  link(href='/stylesheets/font-awesome.min.css', rel='stylesheet')
  link(href='/stylesheets/google-bootstrap.css', rel='stylesheet')
  link(href='/stylesheets/toastr.css', rel='stylesheet')
  link(href='http://fonts.googleapis.com/css?family=Marck+Script|Satisfy', rel='stylesheet', type='text/css')
  link(href='/stylesheets/style.css', rel='stylesheet')
  script(src='/javascripts/vendor/jquery.js')
  body
    div(id='fb-root')
    script(type='text/javascript')
      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    #wrap
      .navbar.navbar-googlebar
        .navbar-inner
          ul.nav.pull-right
            li
              a#bag.dropdown-toggle(href='#', data-toggle='dropdown')
                i.icon-briefcase
                |&nbsp;
                span#bagcount #{bagCount}
                |  item(s)
                i.icon-angle-down
                ul.dropdown-menu
                  li
                    a(href='/shoppingbag')
                      i.icon-shopping-cart
                      | View my bag
                  li
                    a#clearbag(href='#')
                      i.icon-trash
                      | Clear all items
                  li.divider
                  li
                    a#pdf(href='#')
                      i.icon-download-alt
                      | Save to PDF
                  li
                    a#print(href='#')
                      i.icon-print
                      | Print

      .container
        #apparelist-header.pagination-centered
          a(href='/') Apparelist
        .page-header.pagination-centered
          h1 Browse your favorite stores from one site.
        block content
      #push
      #push
      #push
      #push
    #footer
      .thank-you.pagination-centered.muted
        | Thank you for the fun times! Please note, we didn't use the sponsors below, but we sure would have like to!
        p
          | 2013 &copy;
          a(href='http://sahat.me')  Sahat Yalkabov.
          |  Contributors: Adam, Kojo.
          strong Powered by Node.js, Hearst API, Gilt, Microsoft Azure.
      .container
        .brands.pagination-centered
          span(class="brand")
            img(src="http://library.corporate-ir.net/library/17/176/176060/mediaitems/93/a.com_logo_th.jpg")
          span(class="brand")
            img(src="http://upload.wikimedia.org/wikipedia/commons/b/ba/Htc_new_logo.svg", height="60", width="60")
          span(class="brand")
            img(src="http://www.srombauts.fr/wp-content/uploads/github_logo.png", height="60", width="100")
          span(class="brand")
            img(src="http://blogs.channel4.com/benjamin-cohen-on-technology/files/2010/10/spotify-logo-1.png", height="60", width="100")
          span(class="brand")
            img(src="http://images.thetechstuff.com/posts/2012/08/windows-8-logo-touchscreen-2821.png", height="60", width="100")
          span(class="brand")
            img(src="http://mediaserver.pulse2.com/wp-content/uploads/2012/10/tokbox_logo.jpg", height="60", width="70")
          span(class="brand")
            img(src="http://singly.com/wp-content/themes/singly/images/singly-logo_300.png", height="60", width="80")


    script(src='/javascripts/vendor/bootstrap.min.js')
    script(src='/javascripts/vendor/underscore-min.js')
    script(src='/javascripts/vendor/toastr.js')
    script(src='/javascripts/vendor/holder.js')
    script(src='/javascripts/vendor/jquery.masonry.min.js')
    script(src='/javascripts/vendor/purl.js')
    script(src="http://thecodeplayer.com/uploads/js/prefixfree-1.0.7.js")
    script(src='/javascripts/client.js')

