doctype 5
html(lang='en')
head
  meta(charset='utf-8')
  title Apparelist | Hearst Fashion Hack 2013
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  meta(name='description', content='Heart Fashion Hackathon 2013')
  meta(name='author', content='Sahat Yalkabov')
  //if lt IE 9
    script(src='/javascripts/vendor/html5shiv.js')
    script(src='/javascripts/vendor/respond.min.js')
  link(href='/stylesheets/bootstrap.css', rel='stylesheet')
  link(href='/stylesheets/bootstrap-responsive.css', rel='stylesheet')
  link(href='/stylesheets/font-awesome.min.css', rel='stylesheet')
  link(href='/stylesheets/google-bootstrap.css', rel='stylesheet')
  link(href='/stylesheets/toastr.css', rel='stylesheet')
  link(href='/stylesheets/style.css', rel='stylesheet')
  script(src='/javascripts/vendor/jquery.js')
  body
    div(id='fb-root')
    script(type='text/javascript')
      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    #wrap
      .navbar.navbar-googlebar
        .navbar-inner
          a.brand(href='/') Apparelist
          .navbar-form.pull-left
            input.input-large#searchInput(type='text', placeholder='Search', name='search')
            |&nbsp;
            a#searchBtn.btn.btn-primary(href='/search?')
              i.icon-search
          ul.nav.pull-right
            li
              a#bag.dropdown-toggle(href='#', data-toggle='dropdown')
                i.icon-briefcase
                |&nbsp;
                span#bagcount #{bagCount}
                |  item(s)
                i.icon-angle-down
                ul.dropdown-menu
                  li
                    a(href='/shoppingbag')
                      i.icon-shopping-cart
                      | View my bag
                  li
                    a#clearbag(href='#')
                      i.icon-trash
                      | Clear all items
                  li.divider
                  li
                    a(href='/pdf')
                      i.icon-download-alt
                      | Save to PDF
                  li
                    a#print(href='#')
                      i.icon-print
                      | Print

      .container
        ul.nav.nav-pills.stores
          li.store
            a(href='#') Express
          li.store
            a(href='#') H&M
          li.store
            a(href='#') GAP
          li.store
            a(href='#') ALDO
          li.store
            a(href='#') UNIQLO
          li.store
            a(href='#') Armani Exchange
          li.store
            a(href='#') Zara
          li.store
            a(href='#') A&F
          li.store
            a(href='#') Macys

        block content
      #push
      #push
    #footer
      .container
        p.muted.credit
          | 2013 &copy;
          a(href='http://sahat.me')  Sahat Yalkabov.
          |  Contributors: Adam, Kojo.
          |  Powered by Node.js, Hearst API, Singly, Microsoft Azure.
    script(src='/javascripts/vendor/bootstrap.min.js')
    script(src='/javascripts/vendor/underscore-min.js')
    script(src='/javascripts/vendor/toastr.js')
    script(src='/javascripts/vendor/holder.js')
    script(src='/javascripts/vendor/jquery.masonry.min.js')
    script(src='/javascripts/vendor/purl.js')
    script(src='/javascripts/client.js')

