html,
body {
  background: url(../images/bgnoise.png);

  height: 100%;
/* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
/* Negative indent footer by it's height */
  margin: 0 auto -40px;
}

/* Set the fixed height of the footer here */
#push,
#footer {
  height: 40px;
}
#footer {
  background-color: #f5f5f5;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
  #footer {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }
  }

.container .credit {
  margin: 10px 0;
}

code {
  font-size: 80%;
}


.sidebar-nav .active  a {
  position: relative;
  z-index: 2;
  padding: 9px 15px;
  text-shadow: 0 1px 0 rgba(0,0,0,.15);
}

.nav >  li >  a {
  display: block;
  padding: 8px 14px !important;
}

.color {
  padding: 1px;
}
.colors img {
  padding-right: 1px;
}

.box {
  padding: 5px;
  background: #ffffff;
  box-shadow: 1px 1px 6px #b0aaa5;
  display: inline-block;
  vertical-align: top;
  margin-bottom: 25px;
}

.dropdown-menu .active > a,
.dropdown-menu .active > a:hover {
  color: #fff;
  background: #4D90FE;
}

.store-logo {
  max-height: 20px;
}

.store-logo-big {
  max-height: 75px;
}
.bag-items {
  background: #fff;
}

.tr-bag {
  background: #f1f1f1;
}

.ribbon {
  display: inline-block;
  font-size: 14px;
  line-height: 28px;
  color: #8699A0;
  text-shadow: 0 0 1px #758890;
  margin: 120px 0;
  font-family: arial, verdana;
  outline: none;
  padding: 14px 30px;
  position: relative;
  text-transform: uppercase;
/*A little shadow for 3d effect*/
/*Finally another shadow to negate some aspects of the :after element to complete the effect. This drops a shrinked shadow over the :after element with the same color like that of the background. The shadow is shrinked by the same offset amount = 18. And it is moved down by twice the offset amount to cover the entire height of the :after element*/
  box-shadow:
    0 0 30px 0 rgba(0, 0, 0, 0.1),
    0 36px 0 -18px #B1E3E2;
}

/*The ribbon ends*/
.ribbon:before {
  content: '';
  position: absolute;
  top: 18px;
  left: -15%;
  z-index: -1;
  width: 130%;
/*We will be using the triangle logic - 2 sided borders and 0 height. That will create negative triangles on the left and right*/
  height: 0;
  border: 28px solid rgba(0, 0, 0, 0);
  border-left: 28px solid #B1E3E2;
  border-right: 28px solid #B1E3E2;
/*Same color as the container which is the body in this case*/
}

/*The after pseudo element will negatve the bottom part of the ribbon completing the effect*/
.ribbon:after {
  content: '';
  width: 100%;
  height: 0;
  position: absolute;
  top: 100%; left: 0;
  z-index: -1;
/*The height of the top border is same as width of the left/right borders for the smoothest effect. The height of the top border is also the same as the offset the :before element has from the top*/
  border-top: 18px solid #99acb2;
  border-left: 18px solid transparent;
  border-right: 18px solid transparent;
}

.ribbon, .ribbon:before {
  background-image:
    linear-gradient(
      transparent 8%,
      rgba(0, 0, 0, 0.1) 8%,
      rgba(0, 0, 0, 0.1) 14%,
      transparent 14%,
      transparent 86%,
      rgba(0, 0, 0, 0.1) 86%,
      rgba(0, 0, 0, 0.1) 92%,
      transparent 92%
    ),
    /*white gloss gradient*/
    linear-gradient(
      rgba(255, 255, 255, 0.75),
      rgba(255, 255, 255, 0)
    ),
    /*thin stripes*/
    linear-gradient(
      45deg,
      transparent 40%,
      rgba(0, 0, 0, 0.1) 40%,
      rgba(0, 0, 0, 0.1) 60%,
      transparent 60%
    ),
    /*white base*/
    linear-gradient(white, white);
  background-size:
    cover, /*borders*/
    cover, /*white gloss*/
    4px 4px, /*thin stripes*/
    cover; /*base white*/
}

.ribbon, .ribbon:before, .ribbon:after {
  box-sizing: border-box;
/*Fix to make the borders appear on the ribbon ends also*/
  background-origin: border-box;
}